<!doctype html>
<html>
<head>
	<style type='text/css'>
		body {
			margin: 0px;
			padding: 0px;
			font: 1.6em 'Georgia', 'Tahoma', serif;
			color: #333;
		}

		#header-content {
			min-width: 480px;
			max-width: 920px;
			margin: 0 auto;
		}
		input, textarea, button {
			font: 15px 'Monaco', 'Bitstream Vera Sans', 'Courier', monospace;
		}
		body {
			overflow: hidden;
		}

		#ace-editor {
			display:inline-block;
			height: 750px;
			width: 99%;
		}
		#markdown-display{
			display:none;
			background-color:#cdcdcd;
			height: 750px;
			width: 50%;
		}
		#short_url{
			width:250px;
		}
		#save-button{
			position: absolute;
			bottom: 25px;
			left: 100px;
		}
		#editor-container{
			text-align: center;
			margin-left:auto;
			margin-right:auto;
		}
	</style>
</head>
<body>
	<div id="content">
		<div id="header-content">
			<h1>Pastie</h1>
			<label for='short_url'>URL:</label>
			<input type='text' disabled='disabled' id='short_url'></input>
			<span style="float: right">
				<label for='language'>Language:</label>
				<select id='language'>
					<option value='text'>Plaintext</option>
					<option value='sh'>Bash</option>
					<option value='csharp'>C#</option>
					<option value='javascript'>Javascript</option>
					<option value='json'>JSON</option>
					<option value='markdown'>Markdown</option>
					<option value='perl'>Perl</option>
					<option value='python'>Python</option>
					<option value='sql'>SQL</option>
				</select>
			</span>
		</div>

		<div id="editor-container">
			<div id="ace-editor"></div>
			<div id="markdown-display"></div>
			<button id="save-button">Save</button>
		</div>

	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<script src="/static/js/ace/build/src/ace-noconflict.js" type="text/javascript"></script>
	<script src="/static/js/ace/build/src/mode-xml-noconflict.js" type="text/javascript"></script>
	<script src="/static/js/ace/build/src/mode-javascript-noconflict.js" type="text/javascript"></script>
	<script src="/static/js/ace/build/src/mode-perl-noconflict.js" type="text/javascript"></script>
	<script src="/static/js/ace/build/src/mode-csharp-noconflict.js" type="text/javascript"></script>
	<script src="/static/js/ace/build/src/mode-json-noconflict.js" type="text/javascript"></script>
	<script src="/static/js/ace/build/src/mode-text-noconflict.js" type="text/javascript"></script>
	<script src="/static/js/ace/build/src/mode-markdown-noconflict.js" type="text/javascript"></script>
	<script src="/static/js/ace/build/src/mode-python-noconflict.js" type="text/javascript"></script>
	<script src="/static/js/ace/build/src/mode-sql-noconflict.js" type="text/javascript"></script>
	<script src="/static/js/ace/build/src/mode-sh-noconflict.js" type="text/javascript"></script>
	<script type="text/javascript">

		function initEditor() {
			window.aceEditor = ace.edit("ace-editor");
			window.aceEditor.setTheme("ace/theme/monokai");
			window.aceEditor.renderer.setShowPrintMargin(false);
			window.aceEditor.setHighlightActiveLine(false);
		}

		function setAceMode( language ){
			var XMLMode = ace.require("ace/mode/xml").Mode
				, JSMode = ace.require("ace/mode/javascript").Mode
				, PerlMode = ace.require("ace/mode/perl").Mode
				, CsharpMode = ace.require("ace/mode/csharp").Mode
				, JSONMode = ace.require("ace/mode/json").Mode
				, TextMode = ace.require("ace/mode/text").Mode
				, PythonMode = ace.require("ace/mode/python").Mode
				, MarkdownMode = ace.require("ace/mode/markdown").Mode
				, ShellMode = ace.require("ace/mode/sh").Mode

			if ( language === 'text'){
				window.aceEditor.getSession().setMode(new TextMode());
			}else if( language === 'javascript'){
				window.aceEditor.getSession().setMode(new JSMode());
			}else if( language === 'json'){
				window.aceEditor.getSession().setMode(new JSONMode());
			}else if( language === 'csharp'){
				window.aceEditor.getSession().setMode(new CsharpMode());
			}else if( language === 'perl'){
				window.aceEditor.getSession().setMode(new PerlMode());
			}else if( language === 'python'){
				window.aceEditor.getSession().setMode(new PythonMode());
			}else if( language === 'markup'){
				window.aceEditor.getSession().setMode(new MarkdownMode());
			}else if( language === 'sql'){
				window.aceEditor.getSession().setMode(new SQLMode());
			}else if( language === 'sh'){
				window.aceEditor.getSession().setMode(new ShellMode());
			}
		}

		$(function(){

			initEditor();


			var loadData = function(data){
				data = JSON.parse(data)
				$('#language').val(data.language);
				window.aceEditor.getSession().setValue(data.paste_data);
				setAceMode(data.language);
			};

			var getData  = function(){
				var hash = window.location.hash.replace(/^#/, '');
				$.ajax({
					url: '/v1/get/' + hash
					,success: function(res){
						loadData(res);
						setShortUrl(hash);
					}
				})
			}

			var setShortUrl = function(hash){
				$('#short_url').val('http://'+window.location.host + '/#' + hash );
			}

			$('#language').change(function(){
				setAceMode(this.value);
			})

			$('#save-button').click(function(){
				var language = $('#language').val();
				var input = window.aceEditor.getSession().getValue();
				var payload = {
					"paste_data": input
					,"language": language
				}
				// XXX - AJAX call to save goes here
				$.ajax({
					url:'/v1/save'
					, type: 'POST'
					, data: {"data":JSON.stringify(payload)}
					, success: function(res){
						setShortUrl(res)
					}
				})
			});

			window.onhashchange = getData;

			if (window.location.hash){
				getData();
			}

		});
	</script>

</body>
</html>
